version: 2
aliases:
  - &google-sdk-container-config
    docker:
      - image: google/cloud-sdk:423.0.0-alpine
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
  - &GCP-auth-docker
    name: GCP authentication with docker
    command: |
      echo $DOCKER_PASSWORD > ${HOME}/account-auth.json
  - &create-image-version
    name: Create new image version and store to env var and as file in workspace
    command: |
      echo "export VERSION=$CIRCLE_BRANCH-v$CIRCLE_BUILD_NUM-$(echo -n $CIRCLE_SHA1 | tail -c 8)"  >> $BASH_ENV
      echo "$CIRCLE_BRANCH-v$CIRCLE_BUILD_NUM-$(echo -n $CIRCLE_SHA1 | tail -c 8)" > version
  - &read-image-version
    name: Read new image version from workspace
    command: |
      echo "export VERSION=$(cat ./version)" >> $BASH_ENV
  - &docker-build-and-push
    name: Docker build and push
    command: |
      IMAGE="ozaitsev/ch_test"
      echo "Image: ${IMAGE}"
      docker build -t $IMAGE .
      docker inspect $IMAGE
      docker tag $IMAGE "${IMAGE}":"${VERSION}"
      docker login -u ozaitsev --password-stdin < ${DOCKER_PASSWORD}
      docker push "${IMAGE}":"${VERSION}"

jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
      - image: postgis/postgis:13-3.1
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
        environment:
          TZ: Europe/Oslo
          POSTGRES_DB: chouette_test
          POSTGRES_USER: chouette
          POSTGRES_PASSWORD: chouette
    environment:
      MAVEN_OPTS: -Xmx2G
      _JAVA_OPTIONS: -Xmx2G
    steps:
      - checkout
      - restore_cache:
          keys:
            - dep-cache-{{ checksum "pom.xml" }}
            # fallback to the most recent cache if there is no exact match for this pom.xml
            - dep-cache-
      # Cannot use go offline and -o because of snapshot dependencies.
      - run:
          name: Run Maven install
          command: mvn -DskipWildfly -DskipDelombok -B clean install
      - save_cache:
          paths:
            - ~/.m2
          key: dep-cache-{{ checksum "pom.xml" }}
      - run:
          name: Save test results
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/junit/ \;
          when: always
      - store_artifacts:
          path: ~/junit
      - run: *create-image-version
      - persist_to_workspace:
          root: ~/project
          paths:
            - target
            - pom.xml
            - version
            - .circleci
            - Dockerfile
            - docker
            - mobi.chouette.common
            - mobi.chouette.dao
            - mobi.chouette.dao.iev
            - mobi.chouette.exchange
            - mobi.chouette.exchange.converter
            - mobi.chouette.exchange.gtfs
            - mobi.chouette.exchange.neptune
            - mobi.chouette.exchange.netexprofile
            - mobi.chouette.exchange.stopplace
            - mobi.chouette.exchange.transfer
            - mobi.chouette.exchange.validator
            - mobi.chouette.iml
            - mobi.chouette.model
            - mobi.chouette.model.iev
            - mobi.chouette.persistence.hibernate
            - mobi.chouette.schema.checker
            - mobi.chouette.service
            - mobi.chouette.ws
            - chouette_iev
      - store_artifacts:
          path: ~/project/docker/files/wildfly/iev.properties
          destination: iev.properties
      - store_artifacts:
          path: ~/project/chouette_iev/target/chouette.ear
          destination: chouette.ear
      - store_artifacts:
          path: ~/project/target/docker/wildfly
          destination: wildfly
      - store_artifacts:
          path: ~/project/docker/files/wildfly/standalone.conf
          destination: wildflyconf

  deploy-docker:
    <<: *google-sdk-container-config
    steps:
      - setup_remote_docker:
          version: 20.10.17
          docker_layer_caching: true
      - attach_workspace:
          at: ~/project
      - run: *GCP-auth-docker
      - run: *read-image-version
      - run: *docker-build-and-push

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
          context: global
      - deploy-docker:
          context: global
          filters:
            branches:
              only: rutebanken_develop